{% extends 'base.html' %}

{% block title %}Add New Playlist{% endblock %}

{% block content %}

<h1 class="display-3">Submit a new playlist!</h1>
<p><a href="/playlists" class="btn btn-primary">Go Back</a></p>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">
        {{ error }}
        </span>
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-success">Add Playlist</button>
</form>
{% endblock %}